.button {
  font-weight: 700;
  font-size: 0.9rem;
  // fallback
  padding: 0.5rem 1rem;

  // works on more updated browsers
  padding-block: 0.42rem;
  padding-inline: 1rem;

  background-color: cornflowerblue;

  &[disabled] {
    background-color: rgb(162, 180, 214);
    opacity: 0.8;
  }

  &[data-variant='ghost'] {
    border: 4px solid cornflowerblue;
    background-color: transparent;
  }

  &[data-variant='secondary'] {
    background-color: #513aa6;
    color: white;
  }
}
