.todo {
  &__list {
    display: flex;
    flex-wrap: wrap;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(26ch, 1fr));
      grid-gap: 1rem;
    }

    > ul {
      overflow-y: auto;
      height: 30vh;
      height: min(30rem, 40vh);

      background-color: hsl(0, 0%, 90%);
      border-radius: 4px;

      position: relative;

      .none-found {
        padding: 0 2rem;
        padding-inline: 2rem;
      }
    }
  }

  &__title {
    margin-bottom: 1rem;
    margin-block-end: 1rem;
    font-weight: bold;

    position: sticky;
    top: 0;
    background-color: inherit;

    padding: 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
  }
}
